{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["ie >= 10"]
      }
    }]
  ],
  "plugins": [
    <% if(category == 'h5') { %>
      ["component", 
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ],
    <% }else{ %>
    ["component", 
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    <% } %>
    ["@babel/plugin-transform-runtime", {
        "helpers": true,
        "regenerator": true,
        "useESModules": false,
        "corejs": 2
    }],
    "@babel/plugin-syntax-dynamic-import"
  ]  
}
